{# <div class="footer">
        <div class="cont">
           <div class="footer-box footer-box-first">
                <span class="footer-box-title">با ما در ارتباط باشید</span>
                <p class="mb20">آدرس: لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است</p>
                <p class="mb10">تلفن: 0278956742</p>
                <p>ایمیل: asdfgkoo@gmail.com</p>
           </div>
           <div class="footer-box footer-box-middle">
                <div class="middle"><span class="footer-box-title footer-box-in ">دسترسی سریع</span>
                    <ul>
                        <li><a href="#">صفحه اصلی</a></li>
                        <li><a href="#">مقالات</a></li>
                        <li><a href="#">ارتباط با ما</a></li>
                        <li><a href="#">درباره ما</a></li>
                    </ul>
                </div>
           </div>
           <div class="footer-box footer-newsletter-box">
            <span class="footer-box-title">اشتراک در خبرنامه</span>
            <form class="newsletter">
                <input type="text" placeholder="ایمیل خود را وارد کنید">
                <button>عضویت</button>
            </form>
           </div>

        </div>
    </div>
    <div class="copy"> کلیه حقوق این وبسایت متعلق به lorem-ipsum می باشد</div> #}
