{# {% for menu in nav.main %}
  <a href="{{ menu.link }}" class="font-semibold text-gray-900 hover:text-gray-500">
    <span>{{ menu.name }}</span>
  </a>
{% endfor %} #}
<div class="header">
        <div class="cotainer">

            <!---logo-->
        <div class="logo">
            <a href="#"><img src="./imags/Untitled-1.png" alt="logo"></a>
        </div>

        <!---menu-->
        <div class="menu">
            <ul>
                <li>
                    <a href="#">صفحه اصلی</a>
                </li>
                <li>
                    <a href="#">مقالات</a>
                </li>
                <li>
                    <a href="#">ارتباط با ما</a>
                </li>
                <li>
                    <a href="#">درباره ما</a>
                </li>
            </ul>
        </div>

        <!---search-->
        <div class="search-bar">
            <input type="text" placeholder="جستجو" id="search-input">
        </div>

        <!---csocial-icons--->
        <div class="csocial-icons">
            <a href="#">
                <img src="./icons/Instagram.png" alt="instagram">
            </a>
            <a href="#">
                <img src="./icons/LinkedIn.png" alt="LinkedIn">
            </a>
            <a href="#">
                <img src="./icons/Telegram.png" alt="Telegram">
            </a>
            <a href="#">
                <img src="./icons/Twitter.png" alt="Twitter">
            </a>
        </div>
    </div>
