---
title: صفحه‌اصلی
permalink: /
eleventyNavigation:
  key: صفحه‌اصلی
---

<main class="px-20 py-40 md:px-auto">
  <div class="flex flex-col justify-center items-center gap-4 text-center">
    <h1 class="mb-4 p-2 rounded-lg text-4xl bg-neutral-800 text-white font-black">منتظر بمانید، برنامه‌نویسان سخت مشغول کارند!</h1>
    <p class="text-sm text-neutral-400">فعلا اینو کپی کنید کارتون راه بیوفته</p>
    <p class="text-lg">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
  </div>

  <div class="flex flex-row flex-wrap justify-center items-center mt-40 gap-10">
    <img class="rounded-lg shadow-2xl" src="/img/hero.jpg" alt="lorem ipsum">
    <div class="w-full md:w-1/2">
      <h1 class="text-3xl leading-[1.6]">
      طرح‌نما یا لورم ایپسوم به نوشتاری آزمایشی و بی‌معنی در صنعت چاپ،
      صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این نوشتار
      به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل
      ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر
      چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد.
    </h1>
    </div>
  </div>
</main>
