---
title: صفحه‌اصلی
permalink: /
eleventyNavigation:
  key: صفحه‌اصلی
---

<main class="px-20 py-40 md:px-auto">
  <div class="flex flex-col justify-center items-center gap-4 text-center">
    <h1 class="mb-4 p-2 rounded-lg text-4xl bg-neutral-800 text-white font-black">منتظر بمانید، برنامه‌نویسان سخت مشغول کارند!</h1>
    <p class="text-sm text-neutral-400">فعلا اینو کپی کنید کارتون راه بیوفته</p>
    <p class="text-lg">لورم ایپسوم متن ساختگی با تولید سادگی نامفهوم از صنعت چاپ و با استفاده از طراحان گرافیک است. چاپگرها و متون بلکه روزنامه و مجله در ستون و سطرآنچنان که لازم است و برای شرایط فعلی تکنولوژی مورد نیاز و کاربردهای متنوع با هدف بهبود ابزارهای کاربردی می باشد. کتابهای زیادی در شصت و سه درصد گذشته، حال و آینده شناخت فراوان جامعه و متخصصان را می طلبد تا با نرم افزارها شناخت بیشتری را برای طراحان رایانه ای علی الخصوص طراحان خلاقی و فرهنگ پیشرو در زبان فارسی ایجاد کرد. در این صورت می توان امید داشت که تمام و دشواری موجود در ارائه راهکارها و شرایط سخت تایپ به پایان رسد وزمان مورد نیاز شامل حروفچینی دستاوردهای اصلی و جوابگوی سوالات پیوسته اهل دنیای موجود طراحی اساسا مورد استفاده قرار گیرد.</p>
  </div>

  <div class="flex flex-row flex-wrap justify-center items-center mt-40 gap-10">
    <img class="rounded-lg shadow-2xl" src="/img/hero.jpg" alt="lorem ipsum">
    <div class="w-full md:w-1/2">
      <h1 class="text-3xl leading-[1.6]">
      طرح‌نما یا لورم ایپسوم به نوشتاری آزمایشی و بی‌معنی در صنعت چاپ،
      صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این نوشتار
      به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل
      ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر
      چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد.
    </h1>
    </div>
  </div>
</main>
<body class="bg-slate-50 m-0 p-0">
  <div
      class="flex justify-center flex-col align-middle text-center container mx-auto"
    >
    <h1 class="text-black text-3xl mt-10">لورم ایپسوم</h1>
    <hr class="w-40 mx-auto mt-5"/>
    <p class="text-black leading-8 mt-10">
        طرح‌نما یا لورم ایپسوم به نوشتاری آزمایشی و بی‌معنی در صنعت چاپ،
        صفحه‌آرایی و طراحی گرافیک گفته می‌شود. طراح گرافیک از این نوشتار
        به‌عنوان عنصری از ترکیب‌بندی برای پُر کردن صفحه و ارائهٔ اولیهٔ شکل
        ظاهری و کلیِ طرح سفارش‌گرفته‌شده‌استفاده می‌کند، تا ازنظر گرافیکی نشانگر
        چگونگی نوع و اندازهٔ قلم و ظاهرِ متن باشد.
      </p>
  </div>

  <div class="flex justify-center mx-auto mt-10">
    <div
        class="bg-white border-gray-300 flex-row-reverse justify-center mr-4 my-2 overflow-hidden border rounded-3xl border-solid inline-flex transition duration-150 ease-in-out"
        role="group"
      >
      <button
          type="button"
          class="border-gray-300 focus:bg-gray-300 inline-block hover:bg-gray-200 px-8 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          1
        </button>
      <button
          type="button"
          class="border-r focus:outline-none border-gray-300 focus:bg-gray-300 inline-block hover:bg-gray-200 px-8 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          2
        </button>
      <button
          type="button"
          class="border-r focus:outline-none border-gray-300 focus:bg-gray-300 inline-block hover:bg-gray-200 px-8 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          3
        </button>
      <button
          type="button"
          class="focus:bg-gray-300 border-r border-gray-300 inline-block hover:bg-gray-200 bg-primary px-8 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          4
        </button>
      <button
          type="button"
          class="border-r focus:bg-gray-300 border-gray-300 inline-block hover:bg-gray-200 bg-primary px-8 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          5
        </button>
    </div>

    <div
        class="bg-white ml-4 my-2 border-gray-300 flex-row-reverse overflow-hidden border rounded-3xl border-solid inline-flex transition duration-150 ease-in-out"
        role="group"
      >
      <button
          type="button"
          class="focus:bg-gray-300 inline-block border-gray-300 hover:bg-gray-200 px-12 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          پاراگراف
        </button>
      <button
          type="button"
          class="border-r border-gray-300 focus:bg-gray-300 inline-block hover:bg-gray-200 px-12 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          جمله
        </button>
      <button
          type="button"
          class="border-r border-gray-300 focus:bg-gray-300 inline-block hover:bg-gray-200 px-12 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
        >
          کلمه
        </button>
    </div>
  </div>

  <div class="inline-block relative ml-56 mr-56 mb-40">
    <textarea
        class="block rounded-xl border-gray-300 border"
        name=""
        id=""
        cols="120"
        rows="20"
      ></textarea>
    <button
        class="absolute bottom-6 right-6 border border-gray-300 rounded-3xl active:bg-gray-300 hover:bg-gray-200 px-12 py-2 text-xs font-medium text-blue-950 transition duration-150 ease-in-out"
      >
        کپی متن
      </button>
  </div>

</body>
